<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Update resorts page cache tool </title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script src="/js/index-cache.js"></script>
</head>
<body>
	<h1>Update resorts page cache tool</h1>

	<div class="actions">
		<div class="wrapper">
			<a href="/logout">Logout</a>
		</div>
	</div>

	<h3>List of available URLs</h3>

	<ul class="list">

	{{#each urls}}
	<li>
		<!-- {{@index}}{{@key}}: {{this.[1].IDResort}} -->
		IDReosrt: {{this.[1].IDResort}} <input class="select-all" type="checkbox" data-url="{{this.url}}" ><span class="sel-all" >Select ALL</span>
		<ul>
			{{#each this}}
			<li>
				<input type="checkbox" data-url="{{this.url}}" >
				{{this.url}}
				<!-- {{@index}}{{@key}}: {{this.url}} -->
			</li>
			{{/each}}
		</ul>
		<input class="updateCache" type="button" name="" value="update cache on selected items">
	</li>
	{{/each}}
	</ul>

</body>
</html>